@if (error()) {
  <app-error-modal [title]="title()" [message]="error()"/>
}
<form [formGroup]="fg" (ngSubmit)="saveData()">
  <h2>Paired Numbers</h2>

  <div class="control-row">
      <div class="control">
          <label for="description">Description:</label>
          <input id="description" placeholder="write a description" formControlName="description" />
      </div>
      <br/>
      <div class="control pairsNum">
        <label for="pairsNum">Pair Numbers:</label>
        <app-pair-numbers formControlName="pairsNum" #pairsNumRef [maxX]="maxX" [maxY]="maxY" (pairNumValid)="isPairNumValid($event)"/>
      </div>

      <button type="submit" class="button" [disabled]="!pairNumValid() || fg.invalid">Save Paired Numbers</button>
  </div>

</form>